* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

/* Navbar */
.navbar__menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.navbar__menu a {
    text-decoration: none;
}
.navbar__logo figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    
}
.navbar__logo img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.navbar__menu_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    list-style: none;
}
.navbar__menu_items li {
    margin-right: 1rem;
}

/* Hero */
.hero {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 4.5rem;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(./homeImageUnplash.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.hero p {
    font-size: 1.5rem;
}

.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: white;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.main__titles, .reviews__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 0rem 1rem 3rem;
}

.projects__container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.projects__container ul {
    list-style: none;
}
.projects__list li {
    border-bottom: 4px solid black;
    padding: 1rem 3rem;
}
.projects__list li:last-child {
    border-bottom: none;
}

.work__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 4px solid black; 
    border-right: 4px solid black;    
}
.experience__one {
    text-align: left;
    padding: 0.5rem 3rem 2rem 3rem;
    border-bottom: 4px solid black;
}
.experience__two {
    text-align: left;
    padding: 1rem 3rem 2rem 3rem;
}

.education {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.education__container {
    padding: 0.5rem 3rem 2rem 3rem;
}
.education__container span {
    line-height: 3.5rem;
}
.education ul {
    padding-left: 1.5rem;
}

/* Reviews */
.reviews {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.review-list {
    display: flex;
    flex-direction: row;
    margin: 0rem 2.5rem 0rem 2.5rem;
}
.review-box {
    width: 30%;
    height: 75%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    margin: 2rem 2rem 3rem 2rem;
    border: 4px solid black;
    border-radius: 25px;
    gap: 1rem;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
}