* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Estilos para el header */
.header__navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para el logo */
.navbar__logo-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar__logo-link figure {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar__logo-link img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar__logo-link figcaption {
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilos para los enlaces de navegación */
.navbar__links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar__links li {
    margin-left: 20px;
}

.navbar__links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s ease;
}

.navbar__links li a:hover {
    color: #ff6347; /* Cambia el color al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos */
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .navbar__logo-link figure {
        flex-direction: column;
        align-items: center;
    }

    .navbar__logo-link {
        flex-direction: column; /* Apila el logo y el nombre verticalmente */
        align-items: center; /* Centra el logo y el nombre */
        text-align: center; /* Centra el texto */
    }

    .navbar__logo-link img {
        margin-right: 0; /* Elimina el margen derecho del logo */
        margin-bottom: 10px; /* Añade espacio debajo del logo */
    }

    .navbar__links {
        flex-direction: row; /* Apila los enlaces verticalmente */
        align-items: center; /* Centra los enlaces */
        margin-top: 10px; /* Añade espacio arriba de los enlaces */
        gap: 20px; /* Añade espacio entre los enlaces */
    }

    .navbar__links li {
        margin-left: 0; /* Elimina el margen izquierdo de los elementos de la lista */
        margin-bottom: 10px; /* Añade espacio entre los enlaces */
    }
}